<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>

      <main id="home-content">
       <%- body %>
      </main>


      <section id="vehicle-content" style="display:none;">
      <h2 id="category-title" aria-live="polite">
      <span class="visually-hidden">Vehicles category</span>
      </h2>
      <div id="vehicle-list" class="vehicle-grid"></div>
      </section>

        

      <%- include('../partials/footer') %>
    </div>

    
    <script src="/js/app.js" defer></script>
  </body>
  
</html>